/* grids */
#Signs1{
    /* Clear floats after image containers */
      .Signs::after {
        content: "";
        clear: both;
        display: table;
      }
      .Signs {
        float: left;
        /* width: 33.33%;
        padding: 5px; */
      }
}
#Signs2{
    /* Clear floats after image containers */
      .Signs::after {
        content: "";
        clear: both;
        display: table;
      }
      .Signs {
        float: left;
        /* width: 33.33%;
        padding: 5px; */
      }
}
#Signs3{
    /* Clear floats after image containers */
      .Signs::after {
        content: "";
        clear: both;
        display: table;
      }
      .Signs {
        float: left;
        /* width: 33.33%;
        padding: 5px; */
      }
}

/* text and background */
body {background-color: azure;}

h2{ color: #d04764 ;font-family:  fantasy;font-size: 38px; font-weight:bold; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

h3 { color: #2CA4B0 ;font-family: fantasy;font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff;}

p { color: #333 ;font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 28px; margin: 0 0 24px; }

/* Sidebar and header */
.header{
  background-color: #d04764;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  opacity: 93%
}

#sidebarMenu{
  height: 100%;
  position: fixed;
  opacity: 90%;
  left: 0;
  top: 0;
  width: 250px;
  margin-top: 60px;
  background: #d04764;
  transform: translateX(-250px);
  transition: transform 500ms ease-in-out
}

#openSidebarMenu:checked ~ #sidebarMenu{
  transform: translateX(0px);
}

#aboutUs{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 20px;
  bottom: 30px;
  left: 1460px;
  } 
  
  #nameicon{
    width: 10%;
    height: 10%;
    position: fixed;
    z-index: 20;
    top: 5px;
    bottom: 30px;
    left: 665px;
    font-family: fantasy;
    font-size: 38px; 
    font-weight: normal;
  }

.menu{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li{
  color: aqua;
  border-bottom: 1px solid rgba(225, 225, 225, 0.10);
}

.menu li a{
color: azure;
font-family: fantasy;font-size: 20px; font-weight: normal;
display: block;
text-decoration: none;
text-transform: uppercase;
padding: 15px;
}

.sidebarIconToggle{
width: 22px;
height: 22px;
position: fixed;
z-index: 20;
top: 22px;
left: 15px;
cursor: pointer;
}

.spinner{
  height: 3px;
  background: azure;
  transition: all 0.3s;
}

.spinner.middle,
.spinner.bottom{
  margin-top: 3px;
}

#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle{
  opacity: 0;
}

#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top{
  transform: rotate(145deg);
}

#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom{
  transform: rotate(-145deg);
}

